#Install

In [1]:
%%time 

# Important library for many geopython libraries
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
# Install Folium for Geographic data visualization
!pip install folium
# Install plotlyExpress
!pip install plotly_express
!pip install Shapely

Reading package lists... Done
Building dependency tree
Reading state information... Done
gdal-bin is already the newest version (2.2.3+dfsg-2).
python-gdal is already the newest version (2.2.3+dfsg-2).
The following additional packages will be installed:
  python3-numpy
Suggested packages:
  python-numpy-doc python3-nose python3-numpy-dbg
The following NEW packages will be installed:
  python3-gdal python3-numpy
0 upgraded, 2 newly installed, 0 to remove and 40 not upgraded.
Need to get 2,288 kB of archives.
After this operation, 13.2 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-numpy amd64 1:1.13.3-2ubuntu1 [1,943 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-gdal amd64 2.2.3+dfsg-2 [346 kB]
Fetched 2,288 kB in 1s (2,857 kB/s)
Selecting previously unselected package python3-numpy.
(Reading database ... 148492 files and directories currently installed.)
Preparing to unpack .../python3-numpy_1%3a1.13.3-2ubuntu1_amd64.deb ...
Unpacking python3-numpy (1:1.13.3-2ubuntu1) ...
Selecting previously unselected package python3-gdal.
Preparing to unpack .../python3-gdal_2.2.3+dfsg-2_amd64.deb ...
Unpacking python3-gdal (2.2.3+dfsg-2) ...
Setting up python3-numpy (1:1.13.3-2ubuntu1) ...
Setting up python3-gdal (2.2.3+dfsg-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources
Suggested packages:
  python3-setuptools
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources python3-rtree
0 upgraded, 5 newly installed, 0 to remove and 40 not upgraded.
Need to get 671 kB of archives.
After this operation, 3,948 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-pkg-resources all 39.0.1-2 [98.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-rtree all 0.8.3+ds-1 [16.9 kB]
Fetched 671 kB in 1s (961 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 148902 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-pkg-resources.
Preparing to unpack .../python3-pkg-resources_39.0.1-2_all.deb ...
Unpacking python3-pkg-resources (39.0.1-2) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-rtree.
Preparing to unpack .../python3-rtree_0.8.3+ds-1_all.deb ...
Unpacking python3-rtree (0.8.3+ds-1) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up python3-pkg-resources (39.0.1-2) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up python3-rtree (0.8.3+ds-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /tmp/pip-req-build-576_lpe3
  Running command git clone -q git://github.com/geopandas/geopandas.git /tmp/pip-req-build-576_lpe3
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+75.g187287b) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+75.g187287b) (1.7.1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 34 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.0-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 55.2 MB/s
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+75.g187287b) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+75.g187287b) (21.2.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+75.g187287b) (2021.5.30)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+75.g187287b) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+75.g187287b) (57.4.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+75.g187287b) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+75.g187287b) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+75.g187287b) (1.19.5)
Building wheels for collected packages: geopandas
  Building wheel for geopandas (setup.py) ... done
  Created wheel for geopandas: filename=geopandas-0.9.0+75.g187287b-py2.py3-none-any.whl size=1000250 sha256=253f5d170f078df62d41eb3967c3595a83015f05fad096d8aedbd4483eb35d3c
  Stored in directory: /tmp/pip-ephem-wheel-cache-yo4n9cbx/wheels/cf/3e/0b/6475054094c2b1ea054158ac1fdcf749fb92f5b512377e4cf8
Successfully built geopandas
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0+75.g187287b munch-2.5.0 pyproj-3.2.0
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->descartes) (1.15.0)
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.5.30)
Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.1)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1
Requirement already satisfied: Shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
CPU times: user 535 ms, sys: 116 ms, total: 650 ms
Wall time: 48.6 s

In [2]:
from shapely.geometry import Point,Polygon
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt 
import folium
import plotly_express as px
from google.colab import drive
from IPython.display import display
drive.mount('/content/drive')

Mounted at /content/drive

#Read

In [17]:
district_path =  "/content/drive/My Drive/2 Boundary/District_NE_new.geojson"
roadDB_path = "/content/drive/My Drive/2021 Route Prediction/Project-0/Road Data/roaddb.csv"

In [22]:
district_NE = gpd.read_file(district_path)
roadDB = pd.read_csv(roadDB_path)

#Simple data

In [34]:
district_NE.head()

  AMP_CODE  ...                                           geometry
0     3001  ...  POLYGON ((102.18341 15.13798, 102.18298 15.137...
1     3002  ...  POLYGON ((102.15081 14.61461, 102.15115 14.614...
2     3003  ...  POLYGON ((102.49675 14.50541, 102.49686 14.505...
3     3004  ...  POLYGON ((102.27233 15.53663, 102.27538 15.536...
4     3005  ...  POLYGON ((102.12032 15.64497, 102.12072 15.644...

[5 rows x 7 columns]

In [35]:
district_NE.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AMP_CODE    321 non-null    object
 1   PRV_CODE    321 non-null    object
 2   AMP_NAME_T  321 non-null    object
 3   AMP_NAME_E  321 non-null    object
 4   Shape_Leng  321 non-null    float64
 5   Shape_Area  321 non-null    float64
 6   geometry    321 non-null    geometry
dtypes: float64(2), geometry(1), object(4)
memory usage: 17.7+ KB

In [36]:
roadDB.head()

   rid    rd   km ptype        lat         lon    latx     lonx  angle
0    1  3003  0.0  100m  14.492856  100.066108  14.493  100.066    180
1    1  3003  0.1  100m  14.493738  100.066290  14.494  100.066    180
2    1  3003  0.2  100m  14.494619  100.066476  14.495  100.066    179
3    1  3003  0.3  100m  14.495501  100.066658  14.496  100.067    179
4    1  3003  0.4  100m  14.496383  100.066839  14.496  100.067    179

In [37]:
roadDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093655 entries, 0 to 1093654
Data columns (total 9 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   rid     1093655 non-null  int64
 1   rd      1093655 non-null  int64
 2   km      1093655 non-null  float64
 3   ptype   1093655 non-null  object
 4   lat     1093655 non-null  float64
 5   lon     1093655 non-null  float64
 6   latx    1093655 non-null  float64
 7   lonx    1093655 non-null  float64
 8   angle   1093655 non-null  int64
dtypes: float64(5), int64(3), object(1)
memory usage: 75.1+ MB

#Algorithm

In [121]:
def chack_district(lon,lat):
  point = Point(lon,lat)
  for index in district_NE.index:
    if point.within(district_NE.loc[index,'geometry']):
      return district_NE.loc[index,'AMP_NAME_T']
  return 'false'

In [112]:
chack_district(102.433193,17.217769)

'เมืองหนองบัวลำภู'

#Road 1,2 digit

In [176]:
roadDB_digit = roadDB.loc[roadDB['rd']/10 < 10]

In [177]:
roadDB_digit.ptype.unique()

array(['100m', '1km', 'bend', '100m, bend', '1km, bend'], dtype=object)

In [178]:
roadDB_digit

          rid  rd      km ptype        lat         lon    latx     lonx  angle
542625   3379  32   0.000  100m  14.170919  100.615903  14.171  100.616    180
542626   3379  32   0.100  100m  14.171708  100.616347  14.172  100.616    168
542627   3379  32   0.200  100m  14.172564  100.616619  14.173  100.617    159
542628   3379  32   0.300  100m  14.173457  100.616575  14.173  100.617    168
542629   3379  32   0.400  100m  14.174324  100.616331  14.174  100.616    178
...       ...  ..     ...   ...        ...         ...     ...      ...    ...
1093090  6508  12  54.300  100m  16.689217  101.670215  16.689  101.670    180
1093091  6508  12  54.400  100m  16.688457  101.670716  16.688  101.671    180
1093092  6508  12  54.500  100m  16.687694  101.671213  16.688  101.671    180
1093093  6508  12  54.516  bend  16.687576  101.671292  16.688  101.671     33
1093094  6508  12  54.520  100m  16.687576  101.671292  16.688  101.671    180

[82189 rows x 9 columns]

#Filter RoadDB

In [179]:
for index in roadDB_digit.index:
  roadDB_digit.loc[index,'district'] = chack_district(roadDB_digit.loc[index,'lon'] , roadDB_digit.loc[index,'lat'])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [180]:
roadDB_digit

          rid  rd      km ptype  ...    latx     lonx  angle  district
542625   3379  32   0.000  100m  ...  14.171  100.616    180     false
542626   3379  32   0.100  100m  ...  14.172  100.616    168     false
542627   3379  32   0.200  100m  ...  14.173  100.617    159     false
542628   3379  32   0.300  100m  ...  14.173  100.617    168     false
542629   3379  32   0.400  100m  ...  14.174  100.616    178     false
...       ...  ..     ...   ...  ...     ...      ...    ...       ...
1093090  6508  12  54.300  100m  ...  16.689  101.670    180     false
1093091  6508  12  54.400  100m  ...  16.688  101.671    180     false
1093092  6508  12  54.500  100m  ...  16.688  101.671    180     false
1093093  6508  12  54.516  bend  ...  16.688  101.671     33     false
1093094  6508  12  54.520  100m  ...  16.688  101.671    180     false

[82189 rows x 10 columns]

In [181]:
len(roadDB_digit.loc[roadDB_digit['district'] == 'false'])

63441

In [186]:
for index in roadDB_digit.index:
  if roadDB_digit.loc[index,'district'] == 'false':
    roadDB_digit.drop(index,axis=0,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [187]:
roadDB_digit

          rid  rd    km ptype  ...    latx     lonx  angle     district
715238   4489  22   0.0  100m  ...  17.321  104.416    180    กุสุมาลย์
715239   4489  22   0.1  100m  ...  17.321  104.417    179  เมืองนครพนม
715240   4489  22   0.2  100m  ...  17.321  104.418    176  เมืองนครพนม
715241   4489  22   0.3  100m  ...  17.321  104.419    172  เมืองนครพนม
715242   4489  22   0.4  100m  ...  17.321  104.420    164  เมืองนครพนม
...       ...  ..   ...   ...  ...     ...      ...    ...          ...
1092985  6508  12  43.8  100m  ...  16.719  101.592    179       คอนสาร
1093003  6508  12  45.6  100m  ...  16.707  101.603    180       คอนสาร
1093004  6508  12  45.7  100m  ...  16.707  101.604    178       คอนสาร
1093005  6508  12  45.8  100m  ...  16.707  101.605    170       คอนสาร
1093006  6508  12  45.9  100m  ...  16.706  101.606    173       คอนสาร

[18748 rows x 10 columns]