#install

In [1]:
# Important library for many geopython libraries
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
# Install Folium for Geographic data visualization
!pip install folium
# Install plotlyExpress
!pip install plotly_express
!pip install Shapely
!pip install plotly_express

Reading package lists... Done
Building dependency tree
Reading state information... Done
gdal-bin is already the newest version (2.2.3+dfsg-2).
python-gdal is already the newest version (2.2.3+dfsg-2).
python3-gdal is already the newest version (2.2.3+dfsg-2).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-rtree is already the newest version (0.8.3+ds-1).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /tmp/pip-req-build-8n_ugyrh
  Running command git clone -q git://github.com/geopandas/geopandas.git /tmp/pip-req-build-8n_ugyrh
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+101.g64c5813) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+101.g64c5813) (1.7.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+101.g64c5813) (1.8.20)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+101.g64c5813) (3.2.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (2021.5.30)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (57.4.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (1.1.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (21.2.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+101.g64c5813) (0.7.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+101.g64c5813) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+101.g64c5813) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.9.0+101.g64c5813) (1.19.5)
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->descartes) (1.15.0)
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: plotly_express in /usr/local/lib/python3.7/dist-packages (0.4.1)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.1)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Requirement already satisfied: Shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Requirement already satisfied: plotly_express in /usr/local/lib/python3.7/dist-packages (0.4.1)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)

In [2]:
from shapely.geometry import Point,Polygon
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt 
import folium
from folium import plugins
from folium.plugins import HeatMap
import plotly_express as px
from google.colab import drive
from IPython.display import display
import glob
import re
import plotly_express as px
import seaborn as sns
import pickle
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Read

In [19]:
!ls '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week'

gps_log_2019-04-week-1	gps_log_2019-04-week-3
gps_log_2019-04-week-2	gps_log_2019-04-week-4

In [3]:
tripPath = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/trips_and_stops_NE_2019-04/trips_2019_4_8.csv'
districtPath = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/District_NE.geojson'
gps_weekPath = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week'

In [3]:
all_week = glob.glob('/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week' + '/*')

In [9]:
all_week[3]

'/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week/gps_log_2019-04-week-4'

In [7]:
trip = pd.read_csv(tripPath)
district_NE = gpd.read_file(districtPath)

In [10]:
gps_week4 = pd.read_csv(all_week[3])

In [11]:
gps_week4

                   time_stamp                      unit_id  ...  speed  unit_type
0         2019-04-22 00:00:49  033000400000864507037933016  ...      0        7.0
1         2019-04-22 00:00:27  0390002000000000000EE095056  ...     11        8.0
2         2019-04-22 00:00:51  022000100000000000020071434  ...      0        7.0
3         2019-04-22 00:00:52  06500030000000AXIS180801013  ...      0        8.0
4         2019-04-22 00:00:18  042000100000000044963920863  ...     38        7.0
...                       ...                          ...  ...    ...        ...
51675756  2019-04-30 23:59:59  019000300000000001234101068  ...      0        6.0
51675757  2019-04-30 23:59:59  031000108966004716902922278  ...      0        7.0
51675758  2019-04-30 23:59:59  031000108966004716902922278  ...      0        7.0
51675759  2019-04-30 23:59:59  066000200000000003081841171  ...      0        7.0
51675760  2019-04-30 23:59:00  025000100000862010033703832  ...     54        7.0

[51675761 rows x 6 columns]

In [ ]:
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444395 entries, 0 to 444394
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  444395 non-null  object
 1   unit_id     444395 non-null  object
 2   lat         444395 non-null  float64
 3   lon         444395 non-null  float64
 4   speed       444395 non-null  int64
 5   unit_type   444395 non-null  float64
 6   trip_id     444395 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 23.7+ MB

In [ ]:
district_NE.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AMP_CODE    321 non-null    object
 1   PRV_CODE    321 non-null    object
 2   AMP_NAME_T  321 non-null    object
 3   AMP_NAME_E  321 non-null    object
 4   Shape_Leng  321 non-null    float64
 5   Shape_Area  321 non-null    float64
 6   geometry    321 non-null    geometry
dtypes: float64(2), geometry(1), object(4)
memory usage: 17.7+ KB

In [7]:
trip[['time_stamp']] = trip[['time_stamp']].astype("datetime64")

In [ ]:
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444395 entries, 0 to 444394
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  444395 non-null  datetime64[ns]
 1   unit_id     444395 non-null  object
 2   lat         444395 non-null  float64
 3   lon         444395 non-null  float64
 4   speed       444395 non-null  int64
 5   unit_type   444395 non-null  float64
 6   trip_id     444395 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 23.7+ MB

In [8]:
trip

                time_stamp                      unit_id  ...  unit_type  trip_id
0      2019-04-08 08:09:02  060000500000000011519719933  ...        7.0        0
1      2019-04-08 08:09:07  060000500000000011519719933  ...        7.0        0
2      2019-04-08 08:09:12  060000500000000011519719933  ...        7.0        0
3      2019-04-08 08:09:17  060000500000000011519719933  ...        7.0        0
4      2019-04-08 08:09:22  060000500000000011519719933  ...        7.0        0
...                    ...                          ...  ...        ...      ...
444390 2019-04-08 08:00:10  002000400000000000000521991  ...        8.0    11709
444391 2019-04-08 08:22:00  002000400000000000000521991  ...        8.0    11709
444392 2019-04-08 08:42:00  002000400000000000000521991  ...        8.0    11709
444393 2019-04-08 09:14:51  002000400000000000000521991  ...        8.0    11709
444394 2019-04-08 09:36:28  002000400000000000000521991  ...        8.0    11709

[444395 rows x 7 columns]

#test

In [9]:
test01 = trip.loc[115]

In [10]:
test01

time_stamp            2019-04-08 02:46:04
unit_id       047000100000864507032291287
lat                               14.6372
lon                               101.257
speed                                  60
unit_type                               7
trip_id                                 1
Name: 115, dtype: object

In [11]:
test01.time_stamp.day_name()

'Monday'

#Algorithm

In [ ]:
def check_district(lon,lat):
  point = Point(lon,lat)
  for index in district_NE.index:
    if point.within(district_NE.loc[index,'geometry']):
      return True
  return False

In [ ]:
check_district(103.423698,15.916181)

True

#Featue

In [1]:
for index in trip.index:
  # trip['day'] = trip.loc[index,'time_stamp'].day_name()
  print(trip.loc[index,'time_stamp'].day_name())

NameError: ignored

#Pickle

In [12]:
with open('/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week/week4_pickle.plk','wb') as f:
  pickle.dump(gps_week4,f)

# off = open('/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week/week1_pickle.plk','rb')
# emp = pickle.load(off)
# emp

['/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week/gps_log_2019-04-week-1', '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week/gps_log_2019-04-week-2', '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week/gps_log_2019-04-week-3', '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/gps_week/gps_log_2019-04-week-4']