#install

In [ ]:
# Important library for many geopython libraries
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
# Install Folium for Geographic data visualization
!pip install folium
# Install plotlyExpress
!pip install plotly_express
!pip install Shapely
!pip install plotly_express

Reading package lists... Done
Building dependency tree
Reading state information... Done
gdal-bin is already the newest version (2.2.3+dfsg-2).
python-gdal is already the newest version (2.2.3+dfsg-2).
The following additional packages will be installed:
  python3-numpy
Suggested packages:
  python-numpy-doc python3-nose python3-numpy-dbg
The following NEW packages will be installed:
  python3-gdal python3-numpy
0 upgraded, 2 newly installed, 0 to remove and 37 not upgraded.
Need to get 2,288 kB of archives.
After this operation, 13.2 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-numpy amd64 1:1.13.3-2ubuntu1 [1,943 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-gdal amd64 2.2.3+dfsg-2 [346 kB]
Fetched 2,288 kB in 1s (2,388 kB/s)
Selecting previously unselected package python3-numpy.
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../python3-numpy_1%3a1.13.3-2ubuntu1_amd64.deb ...
Unpacking python3-numpy (1:1.13.3-2ubuntu1) ...
Selecting previously unselected package python3-gdal.
Preparing to unpack .../python3-gdal_2.2.3+dfsg-2_amd64.deb ...
Unpacking python3-gdal (2.2.3+dfsg-2) ...
Setting up python3-numpy (1:1.13.3-2ubuntu1) ...
Setting up python3-gdal (2.2.3+dfsg-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources
Suggested packages:
  python3-setuptools
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources python3-rtree
0 upgraded, 5 newly installed, 0 to remove and 37 not upgraded.
Need to get 671 kB of archives.
After this operation, 3,948 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-pkg-resources all 39.0.1-2 [98.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-rtree all 0.8.3+ds-1 [16.9 kB]
Fetched 671 kB in 1s (825 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 155457 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-pkg-resources.
Preparing to unpack .../python3-pkg-resources_39.0.1-2_all.deb ...
Unpacking python3-pkg-resources (39.0.1-2) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-rtree.
Preparing to unpack .../python3-rtree_0.8.3+ds-1_all.deb ...
Unpacking python3-rtree (0.8.3+ds-1) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up python3-pkg-resources (39.0.1-2) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up python3-rtree (0.8.3+ds-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /tmp/pip-req-build-y2tjp7k_
  Running command git clone -q git://github.com/geopandas/geopandas.git /tmp/pip-req-build-y2tjp7k_
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.10.2) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.10.2) (1.7.1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 34 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 37.0 MB/s
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.10.2) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.10.2) (57.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.10.2) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.10.2) (21.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.10.2) (2021.5.30)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.10.2) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.10.2) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas==0.10.2) (2018.9)
Building wheels for collected packages: geopandas
  Building wheel for geopandas (setup.py) ... done
  Created wheel for geopandas: filename=geopandas-0.10.2-py2.py3-none-any.whl size=1031400 sha256=763bed364045128f96c966c41b1de0e1a5dc61253830bd96af294f48ec8f4ee5
  Stored in directory: /tmp/pip-ephem-wheel-cache-rqwmxw4c/wheels/cf/3e/0b/6475054094c2b1ea054158ac1fdcf749fb92f5b512377e4cf8
Successfully built geopandas
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->descartes) (1.15.0)
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.2)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1
Requirement already satisfied: Shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Requirement already satisfied: plotly_express in /usr/local/lib/python3.7/dist-packages (0.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)

In [ ]:
from shapely.geometry import Point,Polygon
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib
import matplotlib.pyplot as plt 
import folium
from folium import plugins
from folium.plugins import HeatMap
import plotly_express as px
from google.colab import drive
from IPython.display import display
import glob
import re
import plotly_express as px
import seaborn as sns
import os
from os.path import exists
drive.mount('/content/drive')

Mounted at /content/drive

#Read

In [ ]:
!ls '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/3.1_cluster_on_trips'

lebeled		     trips_2019_2_10.csv  trips_2019_3_13.csv
trips_2019_1_10.csv  trips_2019_2_11.csv  trips_2019_3_14.csv
trips_2019_1_11.csv  trips_2019_2_12.csv  trips_2019_3_15.csv
trips_2019_1_12.csv  trips_2019_2_13.csv  trips_2019_3_16.csv
trips_2019_1_13.csv  trips_2019_2_14.csv  trips_2019_3_17.csv
trips_2019_1_14.csv  trips_2019_2_15.csv  trips_2019_3_18.csv
trips_2019_1_15.csv  trips_2019_2_16.csv  trips_2019_3_19.csv
trips_2019_1_16.csv  trips_2019_2_17.csv  trips_2019_3_1.csv
trips_2019_1_17.csv  trips_2019_2_18.csv  trips_2019_3_20.csv
trips_2019_1_18.csv  trips_2019_2_19.csv  trips_2019_3_21.csv
trips_2019_1_19.csv  trips_2019_2_1.csv   trips_2019_3_22.csv
trips_2019_1_1.csv   trips_2019_2_20.csv  trips_2019_3_23.csv
trips_2019_1_21.csv  trips_2019_2_21.csv  trips_2019_3_24.csv
trips_2019_1_22.csv  trips_2019_2_22.csv  trips_2019_3_25.csv
trips_2019_1_23.csv  trips_2019_2_23.csv  trips_2019_3_26.csv
trips_2019_1_24.csv  trips_2019_2_24.csv  trips_2019_3_27.csv
trips_2019_1_25.csv  trips_2019_2_25.csv  trips_2019_3_28.csv
trips_2019_1_26.csv  trips_2019_2_26.csv  trips_2019_3_29.csv
trips_2019_1_27.csv  trips_2019_2_27.csv  trips_2019_3_2.csv
trips_2019_1_28.csv  trips_2019_2_28.csv  trips_2019_3_30.csv
trips_2019_1_29.csv  trips_2019_2_2.csv   trips_2019_3_31.csv
trips_2019_1_2.csv   trips_2019_2_3.csv   trips_2019_3_3.csv
trips_2019_1_30.csv  trips_2019_2_4.csv   trips_2019_3_4.csv
trips_2019_1_31.csv  trips_2019_2_5.csv   trips_2019_3_5.csv
trips_2019_1_3.csv   trips_2019_2_6.csv   trips_2019_3_6.csv
trips_2019_1_4.csv   trips_2019_2_7.csv   trips_2019_3_7.csv
trips_2019_1_5.csv   trips_2019_2_8.csv   trips_2019_3_8.csv
trips_2019_1_6.csv   trips_2019_2_9.csv   trips_2019_3_9.csv
trips_2019_1_7.csv   trips_2019_3_10.csv  trips_2019_q1.csv
trips_2019_1_8.csv   trips_2019_3_11.csv
trips_2019_1_9.csv   trips_2019_3_12.csv

In [ ]:
tripPath = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/trips_and_stops_NE_2019'
districtPath = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/District_NE.geojson'

In [ ]:
district_NE = gpd.read_file(districtPath)
district_NE

    AMP_CODE  ...                                           geometry
0       3001  ...  POLYGON ((102.18341 15.13798, 102.18298 15.137...
1       3002  ...  POLYGON ((102.15081 14.61461, 102.15115 14.614...
2       3003  ...  POLYGON ((102.49675 14.50541, 102.49686 14.505...
3       3004  ...  POLYGON ((102.27233 15.53663, 102.27538 15.536...
4       3005  ...  POLYGON ((102.12032 15.64497, 102.12072 15.644...
..       ...  ...                                                ...
316     3902  ...  POLYGON ((102.13153 17.49852, 102.13277 17.498...
317     3903  ...  POLYGON ((102.62819 17.01421, 102.62874 17.013...
318     3904  ...  POLYGON ((102.06074 17.20408, 102.06092 17.204...
319     3905  ...  POLYGON ((102.31839 17.67681, 102.31874 17.667...
320     3906  ...  POLYGON ((102.11180 17.48183, 102.12026 17.467...

[321 rows x 7 columns]

#Algorithm

In [ ]:
def check_district(lon,lat):
  data = zip(district_NE.geometry,district_NE.AMP_NAME_T)
  point = Point(lon,lat)
  for index in data:
    if point.within(index[0]):
      return index[1]
  return False

In [ ]:
check_district(102.151459,14.915597)

'เมืองนครราชสีมา'

In [ ]:
def vehicle_group(df):
   df['veh_group']=df['unit_type'].apply(lambda x: 0 if x == 3 else x)
   df['veh_group']=df['unit_type'].apply(lambda x: 1 if x == 5 or x == 8 or x == 9 else x)
   df['veh_group']=df['unit_type'].apply(lambda x: 2 if x == 6 or x == 7 else x)

In [ ]:
def days_group(df):
  df.time_stamp = df.time_stamp.astype("datetime64")
  if df.loc[0].time_stamp.day_name() == 'Monday':
    df['day_group'] = 0
  if (df.loc[0].time_stamp.day_name() == 'Tuesday') or (df.loc[0].time_stamp.day_name() == 'Wednesday') or (df.loc[0].time_stamp.day_name() == 'Thursday'):
    df['day_group'] = 1
  if df.loc[0].time_stamp.day_name() == 'Friday':
    df['day_group'] = 2
  if df.loc[0].time_stamp.day_name() == 'Saturday' or (df.loc[0].time_stamp.day_name() == 'Sunday'):
    df['day_group'] = 3
  # df['day_group']=df['time_stamp'].apply(lambda x: 0 if x.day_name() == 'Monday' else x)
  # df['day_group']=df['time_stamp'].apply(lambda x: 1 if x.day_name() == 'Tuesday' or x.day_name() == 'Wednesday' or x.day_name() == 'Thursday' else x)
  # df['day_group']=df['time_stamp'].apply(lambda x: 2 if x.day_name() == 'Friday' else x)
  # df['day_group']=df['time_stamp'].apply(lambda x: 3 if x.day_name() == 'Saturday' or x.day_name() == 'Sunday'else x)

#Feature

In [ ]:
Path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/Feature_trips'
days = range(1,32)
month = 3
for day in days:
    export_filename = Path + f'/trips_2019_{month}_{day}.csv'

      #### check file exists
    if os.path.exists(export_filename):
      print(f'trips_2019_{month}_{day}.csv already taken!!')
      continue
    else:
      with open(export_filename, 'w') as fp:
        pass
      if os.path.exists(export_filename):
        print(f'trips_2019_{month}_{day}.csv creating...')
        pass

    filenames = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/3.1_cluster_on_trips/' + f'trips_2019_{month}_{day}.csv'
    trip = pd.read_csv(filenames)

    vehicle_group(trip)
    days_group(trip)

    trip.to_csv(export_filename, encoding='utf-8', index = False)
    print(f'trips {month} {day} done')

trips_2019_3_1.csv creating...
trips 3 1 done
trips_2019_3_2.csv creating...
trips 3 2 done
trips_2019_3_3.csv creating...
trips 3 3 done
trips_2019_3_4.csv creating...
trips 3 4 done
trips_2019_3_5.csv creating...
trips 3 5 done
trips_2019_3_6.csv creating...
trips 3 6 done
trips_2019_3_7.csv creating...
trips 3 7 done
trips_2019_3_8.csv creating...
trips 3 8 done
trips_2019_3_9.csv creating...
trips 3 9 done
trips_2019_3_10.csv creating...
trips 3 10 done
trips_2019_3_11.csv creating...
trips 3 11 done
trips_2019_3_12.csv creating...
trips 3 12 done
trips_2019_3_13.csv creating...
trips 3 13 done
trips_2019_3_14.csv creating...
trips 3 14 done
trips_2019_3_15.csv creating...
trips 3 15 done
trips_2019_3_16.csv creating...
trips 3 16 done
trips_2019_3_17.csv creating...
trips 3 17 done
trips_2019_3_18.csv creating...
trips 3 18 done
trips_2019_3_19.csv creating...
trips 3 19 done
trips_2019_3_20.csv creating...
trips 3 20 done
trips_2019_3_21.csv creating...
trips 3 21 done
trips_2019_3_22.csv creating...
trips 3 22 done
trips_2019_3_23.csv creating...
trips 3 23 done
trips_2019_3_24.csv creating...
trips 3 24 done
trips_2019_3_25.csv creating...
trips 3 25 done
trips_2019_3_26.csv creating...
trips 3 26 done
trips_2019_3_27.csv creating...
trips 3 27 done
trips_2019_3_28.csv creating...
trips 3 28 done
trips_2019_3_29.csv creating...
trips 3 29 done
trips_2019_3_30.csv creating...
trips 3 30 done
trips_2019_3_31.csv creating...
trips 3 31 done

##trip

In [ ]:
day = 5
month = 2

In [ ]:
filenames = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/3.1_cluster_on_trips/' + f'trips_2019_{month}_{day}.csv'
trip = pd.read_csv(filenames)

##vehicle type

In [ ]:
trip

                 time_stamp                      unit_id  ...  trip_id  cluster
0       2019-02-05 00:00:05  067000700000000001000016154  ...        0       -1
1       2019-02-05 00:00:15  067000700000000001000016154  ...        0       -1
2       2019-02-05 00:00:25  067000700000000001000016154  ...        0       -1
3       2019-02-05 00:00:55  067000700000000001000016154  ...        0       -1
4       2019-02-05 00:01:05  067000700000000001000016154  ...        0       -1
...                     ...                          ...  ...      ...      ...
712496  2019-02-05 07:43:11  0390002000000000000EE100465  ...     9256       -1
712497  2019-02-05 07:47:30  0390002000000000000EE100465  ...     9256       -1
712498  2019-02-05 07:52:24  0390002000000000000EE100465  ...     9256       -1
712499  2019-02-05 07:58:51  0390002000000000000EE100465  ...     9256       -1
712500  2019-02-05 08:01:25  0390002000000000000EE100465  ...     9256       -1

[712501 rows x 8 columns]

In [ ]:
vehicle_group(trip)
trip

                 time_stamp                      unit_id  ...  trip_id  veh_group
0       2019-02-05 00:00:05  067000700000000001000016154  ...        0        2.0
1       2019-02-05 00:00:15  067000700000000001000016154  ...        0        2.0
2       2019-02-05 00:00:25  067000700000000001000016154  ...        0        2.0
3       2019-02-05 00:00:55  067000700000000001000016154  ...        0        2.0
4       2019-02-05 00:01:05  067000700000000001000016154  ...        0        2.0
...                     ...                          ...  ...      ...        ...
712496  2019-02-05 07:43:11  0390002000000000000EE100465  ...     9256        2.0
712497  2019-02-05 07:47:30  0390002000000000000EE100465  ...     9256        2.0
712498  2019-02-05 07:52:24  0390002000000000000EE100465  ...     9256        2.0
712499  2019-02-05 07:58:51  0390002000000000000EE100465  ...     9256        2.0
712500  2019-02-05 08:01:25  0390002000000000000EE100465  ...     9256        2.0

[712501 rows x 8 columns]

In [ ]:
days_group(trip)
trip

                time_stamp                      unit_id  ...  veh_group  day
0      2019-02-05 00:00:05  067000700000000001000016154  ...        2.0    1
1      2019-02-05 00:00:15  067000700000000001000016154  ...        2.0    1
2      2019-02-05 00:00:25  067000700000000001000016154  ...        2.0    1
3      2019-02-05 00:00:55  067000700000000001000016154  ...        2.0    1
4      2019-02-05 00:01:05  067000700000000001000016154  ...        2.0    1
...                    ...                          ...  ...        ...  ...
712496 2019-02-05 07:43:11  0390002000000000000EE100465  ...        2.0    1
712497 2019-02-05 07:47:30  0390002000000000000EE100465  ...        2.0    1
712498 2019-02-05 07:52:24  0390002000000000000EE100465  ...        2.0    1
712499 2019-02-05 07:58:51  0390002000000000000EE100465  ...        2.0    1
712500 2019-02-05 08:01:25  0390002000000000000EE100465  ...        2.0    1

[712501 rows x 9 columns]