In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install dipy

Requirement already satisfied: dipy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: h5py>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (3.1.0)
Requirement already satisfied: nibabel>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (3.0.2)
Requirement already satisfied: tqdm>=4.30.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (4.62.3)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from dipy) (1.4.1)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from h5py>=2.5.0->dipy) (1.19.5)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.5.0->dipy) (1.5.2)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import plotly_express as px
# px.set_mapbox_access_token("pk.eyJ1Ijoic2hha2Fzb20iLCJhIjoiY2plMWg1NGFpMXZ5NjJxbjhlM2ttN3AwbiJ9.RtGYHmreKiyBfHuElgYq_w")

In [ ]:
road_data_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/route_network/clustered'
wayid_data_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/3.2_wayid_on_trips'

# map support point with lat lon

In [ ]:
dfs = []
day_len = []
day_trip_count = []
# days = range(1,32)
days = range(1,2)
# months = range(1,4)
months = range(1,2)

for month in months:
  for day in days:
    try:
      sp_seq_df = pd.read_csv(wayid_data_path + f'/trips_2019_{month}_{day}.csv', parse_dates=['time_stamp'])
    except:
      pass

    sp_seq_df = sp_seq_df.sort_values(by=['trip_id', 'time_stamp'])

    trip_count = sp_seq_df.trip_id.value_counts()
    trip_count = trip_count[trip_count >= 12]
    sp_seq_df = sp_seq_df[sp_seq_df.trip_id.isin(trip_count.index)]
    sp_seq_df['month'] = month
    sp_seq_df['day'] = day
    day_len.append(len(sp_seq_df))
    day_trip_count.append(len(trip_count))
    dfs.append(sp_seq_df)
print(day_len)
print(day_trip_count)
df = pd.concat(dfs, ignore_index=True)
df

[195862]
[2099]

                time_stamp                      unit_id  ...  month  day
0      2019-01-01 00:00:07  02800040000000GBBN601005123  ...      1    1
1      2019-01-01 00:01:07  02800040000000GBBN601005123  ...      1    1
2      2019-01-01 00:02:07  02800040000000GBBN601005123  ...      1    1
3      2019-01-01 00:03:07  02800040000000GBBN601005123  ...      1    1
4      2019-01-01 00:04:07  02800040000000GBBN601005123  ...      1    1
...                    ...                          ...  ...    ...  ...
195857 2019-01-01 21:51:58  003000300000359769033400604  ...      1    1
195858 2019-01-01 21:53:56  003000300000359769033400604  ...      1    1
195859 2019-01-01 21:56:00  003000300000359769033400604  ...      1    1
195860 2019-01-01 21:57:55  003000300000359769033400604  ...      1    1
195861 2019-01-01 21:59:58  003000300000359769033400604  ...      1    1

[195862 rows x 11 columns]

In [ ]:
way_seq = df.way_id.to_list()
not_stop_mask = [True]+[(a != b) for a, b in zip(way_seq[:-1], way_seq[1:])]
df = df.loc[not_stop_mask]

In [ ]:
way_df = df[['way_id', 'lat', 'lon']]
way_df = way_df.drop_duplicates(subset='way_id')
way_df

           way_id        lat         lon
0       340294191  16.481607  104.049705
1        92193150  16.491331  104.052101
2       402348153  16.502571  104.054756
5       402340885  16.533987  104.055549
10      820191737  16.561748  104.021415
...           ...        ...         ...
194789   40268077  17.103240  101.172262
194791  541463213  17.185505  101.159089
194792   40268079  17.224956  101.190091
195264  668085796  14.702768  102.087105
195538  259580877  16.050150  103.237995

[3373 rows x 3 columns]

In [ ]:
loc_df = df[['trip_id', 'way_id', 'month','day']].merge(way_df,how='left')
print(sp_seq_df.isna().any())
loc_df

time_stamp    False
unit_id       False
lat           False
lon           False
speed         False
unit_type     False
trip_id       False
way_id        False
dist          False
month         False
day           False
dtype: bool

       trip_id     way_id  month  day        lat         lon
0            0  340294191      1    1  16.481607  104.049705
1            0   92193150      1    1  16.491331  104.052101
2            0  402348153      1    1  16.502571  104.054756
3            0   92193150      1    1  16.491331  104.052101
4            0  402340885      1    1  16.533987  104.055549
...        ...        ...    ...  ...        ...         ...
54358     2098  783299711      1    1  14.717873  101.493665
54359     2098  150586966      1    1  14.734838  101.508443
54360     2098  783299693      1    1  14.772588  101.520985
54361     2098   82374801      1    1  14.756580  101.516680
54362     2098  150586957      1    1  14.840083  101.607275

[54363 rows x 6 columns]

partition trips

In [ ]:
trips = []
low_12 = 0
for month in months:
  for day in days:
    day_df = loc_df[(loc_df.day == day) & (loc_df.month == month)]
    for t_id in day_df.trip_id.unique():
      trip = day_df[day_df.trip_id == t_id][['lat', 'lon']]
      if len(trip)/12 > 1.5:
        split_trip=[trip.iloc[i:i + 24] for i in range(0, len(trip), 12)]
        if len(split_trip[-1]) < 16:
          last = split_trip.pop()
          before_last = split_trip.pop()
          merge_last = pd.concat([before_last, last])
          split_trip.append(merge_last)
        for partial_trip in split_trip:
          lat_lon_data = np.c_[partial_trip['lat'].values, partial_trip['lon'].values]
          trips.append(lat_lon_data)
      else:
        # print(len(trip))
        lat_lon_data = np.c_[trip['lat'].values, trip['lon'].values]
        trips.append(lat_lon_data)
# print(low_12)
print(len(trips))
trips[0][0,0], trips[0][0,1]

3887

(16.481607, 104.049705)

In [ ]:
train_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/model/3.2'

In [ ]:
import pickle
import collections
import geopy.distance
from dipy.segment.metric import Metric
from dipy.segment.metric import ResampleFeature
from dipy.segment.metric import VectorOfEndpointsFeature
from dipy.segment.clustering import QuickBundles
class GPSDistance(Metric):
    def __init__(self):
        super(GPSDistance, self).__init__(feature=ResampleFeature(nb_points=12))

    def are_compatible(self, shape1, shape2):
        return len(shape1) == len(shape2)

    def dist(self, v1, v2):
        x = [geopy.distance.distance([p[0][0], p[0][1]], [p[1][0], p[1][1]]).kilometers for p in list(zip(v1, v2))]
        currD = np.mean(x)
        return currD

THRESHOLD = 24
metric = GPSDistance()
qb = QuickBundles(threshold=THRESHOLD, metric=metric)

# feature = ResampleFeature(nb_points=24)
# metric = AveragePointwiseEuclideanMetric(feature=feature)
# qb = QuickBundles(threshold=THRESHOLD, metric=metric)

clusters = qb.cluster(trips)

pkl_filename = train_path+"/QBcluster_test_way_treshold24.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(clusters, file)
with open(pkl_filename, 'rb') as file:
    clusters = pickle.load(file)

print("Nb. clusters:", len(clusters))
print("Cluster sizes:", map(len, clusters))
print("Small clusters:", collections.Counter(clusters < 10)[True], end=' /')
print("Small clusters:", clusters < 10)
print("Streamlines indices of the first cluster:\n", clusters[0].indices)
print("Centroid of the last cluster:\n", clusters[-1].centroid)

Nb. clusters: 547
Cluster sizes: <map object at 0x7f5494547990>
Small clusters: 439 /Small clusters: [ True False False False False False False False  True False False False
 False  True  True False False False False  True False False False False
 False False False False False False False False False False False False
  True False False False False False False False  True False  True False
 False False False  True False False False False False False False  True
 False  True  True False False False  True False False  True  True False
  True False False False False  True  True  True False False False False
 False False False False  True False False False  True  True False  True
  True  True  True False False  True  True  True False False  True  True
 False  True False  True  True  True False  True  True False  True  True
 False False False  True  True  True False  True  True  True False  True
  True  True  True  True False  True  True  True  True  True  True  True
  True  True  True  True False False False  True  True  True  True  True
  True  True  True  True False False  True  True False  True  True  True
 False False  True  True  True  True  True  True False  True  True False
  True  True  True  True False False  True False False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True False  True  True  True  True  True  True False  True  True  True
  True  True  True False  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True]
Streamlines indices of the first cluster:
 [0, 201, 732, 907, 1859, 2711, 2785, 3318, 3572]
Centroid of the last cluster:
 [[ 15.552206  102.48613  ]
 [ 15.1968    102.29385  ]
 [ 14.905219  101.90189  ]
 [ 14.726269  101.43985  ]
 [ 14.6934395 101.447105 ]
 [ 14.902895  101.89077  ]
 [ 15.1518545 102.29502  ]
 [ 15.540758  102.53838  ]
 [ 15.348655  102.27797  ]
 [ 15.005621  102.05997  ]
 [ 15.310933  102.43289  ]
 [ 15.593379  102.42186  ]]

In [ ]:
loc_df['route_cluster'] = pd.Series()

cluster_list = []
index = 0
for trip in trips:
  lenght = len(trip)
  for cluster in range(len(clusters)):
      if index in clusters[cluster].indices:
        cluster_list.extend([cluster]*lenght)
  index+=1
print(len(cluster_list))
loc_df.route_cluster = cluster_list
loc_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

83817

ValueError: ignored

In [ ]:
df[['day', 'month', 'route_cluster']] = loc_df[['day', 'month', 'route_cluster']]
for month in months:
  for day in days:
    day_df = df[(df.day == day) & (df.month == month)]
    day_df = day_df.drop(['day'], axis=1)
    day_df = day_df.drop(['month'], axis=1)
    day_df.to_csv(wayid_data_path + f'/lebeled/testtrips_2019_{month}_{day}.csv', encoding='utf-8', index=False)
    print(day_df.route_cluster.unique())
    print(day_df)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

[0.000e+00 1.000e+00 9.000e+00 1.000e+01 1.100e+01 1.200e+01 1.500e+01
 1.600e+01 1.700e+01 1.800e+01 2.000e+01 2.100e+01 2.200e+01 2.300e+01
 2.600e+01 2.700e+01 2.800e+01 2.900e+01 3.100e+01 3.200e+01 3.300e+01
 3.400e+01 3.500e+01 3.600e+01 3.700e+01 3.800e+01 4.300e+01 4.400e+01
 4.500e+01 4.600e+01 4.700e+01 4.800e+01 4.900e+01 5.000e+01 5.100e+01
 5.300e+01 2.400e+01 5.400e+01 5.500e+01 5.600e+01 5.700e+01 1.900e+01
 5.800e+01 2.500e+01 6.100e+01 3.000e+00 6.200e+01 6.500e+01 6.600e+01
 6.000e+01 6.800e+01 6.900e+01 7.000e+01 7.100e+01 7.200e+01 7.300e+01
 7.400e+01 7.500e+01 7.600e+01 7.700e+01 7.800e+01 8.000e+01 8.100e+01
 4.100e+01 4.200e+01 8.300e+01 8.400e+01 8.200e+01 4.000e+01 6.400e+01
 1.300e+01 7.900e+01 8.600e+01 5.900e+01 6.700e+01 5.200e+01 8.800e+01
 8.900e+01 9.000e+01 9.100e+01 9.200e+01 8.500e+01 9.300e+01 9.400e+01
 9.500e+01 9.600e+01 9.700e+01 9.800e+01 9.900e+01 1.020e+02 1.030e+02
 1.040e+02 1.050e+02 1.060e+02 1.400e+01 1.070e+02 1.090e+02 1.100e+02
 8.700e+01 1.110e+02 1.120e+02 1.130e+02 1.140e+02 3.900e+01 1.200e+02
 1.210e+02 1.220e+02 1.230e+02 1.240e+02 1.180e+02 1.250e+02 1.260e+02
 1.270e+02 1.280e+02 1.290e+02 1.300e+02 1.310e+02 1.320e+02 1.330e+02
 1.340e+02 1.350e+02 5.000e+00 6.000e+00 7.000e+00 1.360e+02 1.370e+02
 1.380e+02 1.390e+02 1.400e+02 1.410e+02 1.420e+02 1.430e+02 1.440e+02
 1.450e+02 1.460e+02 1.480e+02 1.490e+02 1.500e+02 1.510e+02 1.520e+02
 1.530e+02 1.540e+02 1.550e+02 1.600e+02 1.610e+02 1.620e+02 1.630e+02
 1.640e+02 1.650e+02 1.660e+02 1.720e+02 1.730e+02 1.740e+02 1.750e+02
 1.760e+02 1.780e+02 1.790e+02 1.800e+02 1.150e+02 1.810e+02 1.820e+02
 1.830e+02 1.840e+02 1.850e+02 1.860e+02 1.870e+02 1.880e+02 1.890e+02
 1.900e+02 1.910e+02 1.590e+02 1.920e+02 1.930e+02 1.950e+02 1.960e+02
 1.970e+02 1.980e+02 1.990e+02 2.000e+02 2.010e+02 2.020e+02 2.030e+02
 2.040e+02 2.050e+02 2.060e+02 2.070e+02 1.560e+02 2.080e+02 2.090e+02
 2.100e+02 2.120e+02 2.130e+02 2.140e+02 2.150e+02 2.160e+02 2.170e+02
 2.180e+02 2.190e+02 1.010e+02 2.280e+02 2.290e+02 2.320e+02 2.330e+02
 2.340e+02 1.580e+02 8.000e+00 2.350e+02 2.360e+02 2.370e+02 2.380e+02
 2.390e+02 2.400e+02 2.420e+02 2.430e+02 2.440e+02 2.450e+02 2.460e+02
 3.000e+01 2.470e+02 2.480e+02 2.490e+02 2.500e+02 2.510e+02 2.520e+02
 2.530e+02 2.540e+02 2.550e+02 2.560e+02 2.590e+02 2.600e+02 2.610e+02
 2.620e+02 2.630e+02 2.640e+02 2.650e+02 2.660e+02 2.670e+02 2.680e+02
 2.690e+02 2.700e+02 2.710e+02 2.720e+02 2.730e+02 2.260e+02 2.740e+02
 2.310e+02 2.770e+02 2.780e+02 2.790e+02 1.680e+02 2.800e+02 2.810e+02
 2.820e+02 2.410e+02 2.830e+02 2.840e+02 2.850e+02 2.860e+02 2.240e+02
 2.250e+02 2.870e+02 2.890e+02 2.900e+02 2.910e+02 2.930e+02 2.940e+02
 2.950e+02 2.960e+02 2.970e+02 2.980e+02 2.990e+02 3.000e+02 4.000e+00
 3.010e+02 3.020e+02 3.040e+02 3.050e+02 3.060e+02 3.080e+02 3.090e+02
 3.100e+02 3.110e+02 3.120e+02 3.130e+02 3.150e+02 3.160e+02 3.170e+02
 3.180e+02 3.190e+02 3.200e+02 3.210e+02 3.220e+02 2.110e+02 3.320e+02
 3.330e+02 3.340e+02 3.350e+02 3.360e+02 3.370e+02 3.380e+02 3.390e+02
 3.400e+02 3.420e+02 3.430e+02 3.440e+02 3.450e+02 3.460e+02 3.470e+02
 3.480e+02 3.490e+02 3.500e+02 3.510e+02 3.520e+02 3.530e+02 3.540e+02
 3.550e+02 3.560e+02 3.570e+02 3.580e+02 3.590e+02 3.600e+02 3.610e+02
 3.620e+02 3.630e+02 3.650e+02 3.670e+02 3.680e+02 3.690e+02 3.700e+02
 3.720e+02 3.730e+02 3.740e+02 3.750e+02 3.760e+02 3.770e+02 3.780e+02
 3.790e+02 3.800e+02 3.810e+02 3.830e+02 3.840e+02 3.850e+02 1.690e+02
 3.860e+02 3.870e+02 2.300e+02 3.880e+02 3.890e+02 3.900e+02 3.910e+02
 3.920e+02 3.930e+02 3.940e+02 3.950e+02 3.960e+02 3.970e+02 3.980e+02
 4.000e+02 4.010e+02 4.020e+02 4.030e+02 4.040e+02 4.060e+02 4.070e+02
 4.080e+02 4.090e+02 4.100e+02 4.110e+02 3.270e+02 4.120e+02 4.130e+02
 4.140e+02 4.150e+02 4.170e+02 4.180e+02 4.250e+02 4.260e+02 4.270e+02
 4.280e+02 4.300e+02 4.320e+02 4.370e+02 4.380e+02 2.000e+00 4.390e+02
 4.400e+02 4.410e+02 4.420e+02 4.430e+02 3.140e+02 3.300e+02 4.440e+02
 4.450e+02 4.460e+02 4.470e+02 4.480e+02 4.500e+02 4.530e+02 4.560e+02
 4.570e+02 4.580e+02 4.590e+02 1.570e+02 4.600e+02 3.230e+02 4.610e+02
 1.170e+02 4.620e+02 4.550e+02 4.640e+02 4.650e+02 4.670e+02 2.270e+02
 4.680e+02 4.350e+02 4.690e+02 4.710e+02 4.720e+02 4.730e+02 4.740e+02
 4.750e+02 4.760e+02 4.780e+02 4.800e+02 4.810e+02 4.660e+02 4.490e+02
 4.830e+02 4.840e+02 4.860e+02 4.870e+02 4.880e+02 4.360e+02 4.890e+02
 4.900e+02 4.910e+02 4.920e+02 4.930e+02 4.940e+02 4.950e+02 4.960e+02
 4.980e+02 4.970e+02 4.990e+02 5.000e+02 5.010e+02 5.020e+02 5.030e+02
 5.040e+02 5.050e+02 5.060e+02 5.070e+02 3.030e+02 5.090e+02 5.100e+02
 5.110e+02 5.120e+02 5.150e+02 5.140e+02 5.180e+02 5.190e+02 5.200e+02
 5.210e+02 5.220e+02 4.770e+02 5.230e+02 5.240e+02 5.250e+02 5.260e+02
 5.270e+02 5.280e+02 5.290e+02 5.300e+02 5.310e+02 5.320e+02 5.330e+02
 5.340e+02 5.350e+02 5.360e+02 5.370e+02 5.380e+02 5.390e+02 5.400e+02
 5.410e+02 5.420e+02 4.240e+02 5.430e+02 5.440e+02 5.450e+02 5.460e+02
 5.470e+02 5.480e+02 5.500e+02 5.510e+02 5.520e+02 5.530e+02 5.540e+02
 5.550e+02 5.560e+02 5.590e+02 5.600e+02 5.610e+02 5.620e+02 5.630e+02
 5.640e+02 5.650e+02 5.660e+02 5.670e+02 5.680e+02 5.690e+02 5.710e+02
 4.520e+02 5.740e+02 5.750e+02 5.760e+02 5.770e+02 5.780e+02 5.790e+02
 5.800e+02 5.810e+02 5.730e+02 5.820e+02 5.830e+02 5.840e+02 5.850e+02
 5.860e+02 5.870e+02 5.880e+02 5.890e+02 5.900e+02 5.920e+02 5.940e+02
 5.950e+02 5.960e+02 5.970e+02 5.980e+02 5.990e+02 6.000e+02 6.020e+02
 6.040e+02 6.050e+02 6.060e+02 6.070e+02 6.080e+02 6.090e+02 6.100e+02
 6.110e+02 6.120e+02 6.130e+02 6.140e+02 5.720e+02 5.910e+02 6.150e+02
 3.710e+02 6.160e+02 6.180e+02 6.190e+02 6.200e+02 3.070e+02 6.230e+02
 6.240e+02 6.260e+02 6.270e+02 6.280e+02 6.290e+02 6.300e+02 6.310e+02
 6.320e+02 6.330e+02 6.340e+02 6.350e+02 6.360e+02 6.370e+02 6.400e+02
 6.410e+02 6.420e+02 6.430e+02 6.440e+02 6.450e+02 6.470e+02 6.480e+02
 6.490e+02 6.500e+02 6.510e+02 6.520e+02 6.530e+02 6.540e+02 6.550e+02
 6.560e+02 6.570e+02 6.580e+02 6.590e+02 6.600e+02 6.610e+02 6.620e+02
 6.630e+02 6.640e+02 6.650e+02 6.680e+02 6.690e+02 6.700e+02 6.710e+02
 6.720e+02 6.740e+02 6.750e+02 6.770e+02 6.780e+02 6.790e+02 6.800e+02
 6.810e+02 6.820e+02 6.840e+02 6.850e+02 6.860e+02 6.870e+02 2.580e+02
 6.880e+02 6.890e+02 6.900e+02 6.910e+02 6.920e+02 6.930e+02 6.940e+02
 6.950e+02 6.960e+02 6.970e+02 6.980e+02 6.990e+02 7.000e+02 7.010e+02
 7.020e+02 7.030e+02 7.040e+02 7.050e+02 7.060e+02 7.070e+02 7.080e+02
 7.090e+02 7.100e+02 7.110e+02 7.120e+02 7.130e+02 7.140e+02 7.150e+02
 7.160e+02 7.180e+02 7.190e+02 7.200e+02 7.210e+02 7.220e+02 7.230e+02
 7.240e+02 7.250e+02 7.260e+02 7.270e+02 7.280e+02 7.290e+02 7.300e+02
 7.310e+02 7.320e+02 7.330e+02 7.350e+02 7.360e+02 7.370e+02 2.200e+02
 7.380e+02 7.390e+02 7.400e+02 7.410e+02 1.470e+02 7.420e+02 7.430e+02
 2.880e+02 7.440e+02 7.450e+02 7.470e+02 7.480e+02 3.640e+02 7.490e+02
 7.500e+02 7.510e+02 7.520e+02 7.530e+02 7.540e+02 7.550e+02 7.560e+02
 7.570e+02 7.580e+02 7.590e+02 7.600e+02 7.610e+02 7.620e+02 7.630e+02
 7.640e+02 7.660e+02 7.670e+02 7.680e+02 7.690e+02 7.700e+02 7.720e+02
 7.730e+02 7.750e+02 7.760e+02 7.780e+02 7.790e+02 7.800e+02 7.810e+02
 7.820e+02 7.830e+02 7.840e+02 7.860e+02 7.880e+02 7.890e+02 7.900e+02
 7.910e+02 7.920e+02 7.930e+02 7.950e+02 8.000e+02 2.570e+02 8.010e+02
 7.970e+02 8.020e+02 8.030e+02 8.040e+02 8.050e+02 8.070e+02 8.080e+02
 8.090e+02 8.100e+02 8.110e+02 8.120e+02 8.130e+02 8.140e+02 8.150e+02
 8.160e+02 8.170e+02 8.180e+02 8.190e+02 8.200e+02 8.210e+02 8.220e+02
 8.230e+02 8.240e+02 8.250e+02 8.280e+02 8.300e+02 8.310e+02 4.050e+02
 8.320e+02 8.330e+02 8.350e+02 8.360e+02 8.370e+02 8.380e+02 8.390e+02
 8.400e+02 8.410e+02 8.420e+02 8.430e+02 8.440e+02 8.450e+02 8.470e+02
 8.480e+02 8.490e+02 8.500e+02 8.510e+02 8.520e+02 5.130e+02 8.530e+02
 8.540e+02 8.550e+02 8.560e+02 8.570e+02 8.590e+02 8.600e+02 8.610e+02
 8.640e+02 8.650e+02 8.660e+02 8.680e+02 8.690e+02 8.770e+02 8.780e+02
 8.790e+02 8.820e+02 8.830e+02 8.850e+02 8.870e+02 8.880e+02 8.890e+02
 8.900e+02 8.910e+02 3.280e+02 8.920e+02 8.930e+02 8.950e+02 8.960e+02
 8.980e+02 8.990e+02 9.000e+02 9.020e+02 9.030e+02 9.010e+02 9.040e+02
 9.050e+02 9.060e+02 9.070e+02 9.080e+02 9.090e+02 9.100e+02 9.110e+02
 9.130e+02 5.930e+02 9.140e+02 9.150e+02 9.160e+02 9.170e+02 9.180e+02
 9.190e+02 9.200e+02 9.210e+02 9.220e+02 9.230e+02 9.240e+02 9.260e+02
 9.270e+02 9.280e+02 9.290e+02 5.160e+02 9.300e+02 9.310e+02 3.240e+02
 8.340e+02 9.320e+02 9.330e+02 9.340e+02 9.350e+02 9.360e+02 9.370e+02
 9.380e+02 9.390e+02 9.400e+02 9.410e+02 9.420e+02 9.430e+02 9.440e+02
 9.450e+02 9.460e+02 9.470e+02 9.480e+02 9.510e+02 2.210e+02 9.520e+02
 6.460e+02 9.540e+02 9.550e+02 9.560e+02 9.570e+02 9.580e+02 9.590e+02
 9.610e+02 9.620e+02 9.630e+02 9.650e+02 9.660e+02 9.670e+02 9.680e+02
 9.690e+02 9.700e+02 9.720e+02 9.730e+02 9.740e+02 9.750e+02 9.760e+02
 9.770e+02 9.780e+02 9.790e+02 9.800e+02 9.810e+02 9.820e+02 9.830e+02
 9.840e+02 9.850e+02 9.890e+02 9.900e+02 9.910e+02 9.920e+02 9.500e+02
 9.930e+02 8.270e+02 9.940e+02 9.950e+02 9.960e+02 9.970e+02 9.980e+02
 9.990e+02 1.000e+03 1.001e+03 1.002e+03 1.003e+03 1.004e+03 1.005e+03
 1.006e+03 1.007e+03 1.012e+03 1.013e+03 8.630e+02 1.014e+03 1.016e+03
 4.850e+02 1.017e+03 1.018e+03 1.019e+03 1.020e+03 1.021e+03 1.022e+03
 1.023e+03 1.024e+03 1.025e+03 1.026e+03 1.027e+03 1.029e+03]
               time_stamp                      unit_id  ...      dist  route_cluster
0     2019-01-01 00:00:07  02800040000000GBBN601005123  ...  0.004308            0.0
1     2019-01-01 00:01:07  02800040000000GBBN601005123  ...  0.000498            0.0
2     2019-01-01 00:02:07  02800040000000GBBN601005123  ...  0.004740            0.0
3     2019-01-01 00:03:07  02800040000000GBBN601005123  ...  0.008590            0.0
5     2019-01-01 00:05:07  02800040000000GBBN601005123  ...  0.009025            0.0
...                   ...                          ...  ...       ...            ...
54284 2019-01-01 05:30:33  02800040000000GSNF610300028  ...  0.001989          748.0
54285 2019-01-01 05:31:33  02800040000000GSNF610300028  ...  0.003414          748.0
54288 2019-01-01 05:34:33  02800040000000GSNF610300028  ...  0.001789          748.0
54290 2019-01-01 05:36:33  02800040000000GSNF610300028  ...  0.000282          748.0
54292 2019-01-01 05:38:33  02800040000000GSNF610300028  ...  0.004382          748.0

[13213 rows x 10 columns]