# Import

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
!pip install plotly_express

Requirement already satisfied: plotly_express in /usr/local/lib/python3.7/dist-packages (0.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.2)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)

In [25]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)

In [26]:
!ls '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/trips_and_stops_NE_2019'

trips_2019_10_10.csv  trips_2019_2_10.csv  trips_2019_6_12.csv
trips_2019_10_11.csv  trips_2019_2_11.csv  trips_2019_6_13.csv
trips_2019_10_12.csv  trips_2019_2_12.csv  trips_2019_6_14.csv
trips_2019_10_13.csv  trips_2019_2_13.csv  trips_2019_6_15.csv
trips_2019_10_14.csv  trips_2019_2_14.csv  trips_2019_6_16.csv
trips_2019_10_15.csv  trips_2019_2_15.csv  trips_2019_6_17.csv
trips_2019_10_16.csv  trips_2019_2_16.csv  trips_2019_6_18.csv
trips_2019_10_17.csv  trips_2019_2_17.csv  trips_2019_6_19.csv
trips_2019_10_18.csv  trips_2019_2_18.csv  trips_2019_6_1.csv
trips_2019_10_19.csv  trips_2019_2_19.csv  trips_2019_6_20.csv
trips_2019_10_1.csv   trips_2019_2_1.csv   trips_2019_6_21.csv
trips_2019_10_20.csv  trips_2019_2_20.csv  trips_2019_6_22.csv
trips_2019_10_21.csv  trips_2019_2_21.csv  trips_2019_6_23.csv
trips_2019_10_22.csv  trips_2019_2_22.csv  trips_2019_6_24.csv
trips_2019_10_23.csv  trips_2019_2_23.csv  trips_2019_6_25.csv
trips_2019_10_24.csv  trips_2019_2_24.csv  trips_2019_6_26.csv
trips_2019_10_25.csv  trips_2019_2_25.csv  trips_2019_6_27.csv
trips_2019_10_26.csv  trips_2019_2_26.csv  trips_2019_6_28.csv
trips_2019_10_27.csv  trips_2019_2_27.csv  trips_2019_6_29.csv
trips_2019_10_28.csv  trips_2019_2_28.csv  trips_2019_6_2.csv
trips_2019_10_29.csv  trips_2019_2_2.csv   trips_2019_6_30.csv
trips_2019_10_2.csv   trips_2019_2_3.csv   trips_2019_6_3.csv
trips_2019_10_30.csv  trips_2019_2_4.csv   trips_2019_6_4.csv
trips_2019_10_31.csv  trips_2019_2_5.csv   trips_2019_6_5.csv
trips_2019_10_3.csv   trips_2019_2_6.csv   trips_2019_6_6.csv
trips_2019_10_4.csv   trips_2019_2_7.csv   trips_2019_6_7.csv
trips_2019_10_5.csv   trips_2019_2_8.csv   trips_2019_6_8.csv
trips_2019_10_6.csv   trips_2019_2_9.csv   trips_2019_6_9.csv
trips_2019_10_7.csv   trips_2019_3_10.csv  trips_2019_7_10.csv
trips_2019_10_8.csv   trips_2019_3_11.csv  trips_2019_7_11.csv
trips_2019_10_9.csv   trips_2019_3_12.csv  trips_2019_7_12.csv
trips_2019_1_10.csv   trips_2019_3_13.csv  trips_2019_7_13.csv
trips_2019_11_10.csv  trips_2019_3_14.csv  trips_2019_7_14.csv
trips_2019_11_11.csv  trips_2019_3_15.csv  trips_2019_7_15.csv
trips_2019_11_12.csv  trips_2019_3_16.csv  trips_2019_7_16.csv
trips_2019_11_13.csv  trips_2019_3_17.csv  trips_2019_7_17.csv
trips_2019_11_14.csv  trips_2019_3_18.csv  trips_2019_7_18.csv
trips_2019_11_15.csv  trips_2019_3_19.csv  trips_2019_7_19.csv
trips_2019_11_16.csv  trips_2019_3_1.csv   trips_2019_7_1.csv
trips_2019_11_17.csv  trips_2019_3_20.csv  trips_2019_7_20.csv
trips_2019_11_18.csv  trips_2019_3_21.csv  trips_2019_7_21.csv
trips_2019_11_19.csv  trips_2019_3_22.csv  trips_2019_7_22.csv
trips_2019_1_11.csv   trips_2019_3_23.csv  trips_2019_7_23.csv
trips_2019_11_1.csv   trips_2019_3_24.csv  trips_2019_7_24.csv
trips_2019_11_20.csv  trips_2019_3_25.csv  trips_2019_7_25.csv
trips_2019_11_21.csv  trips_2019_3_26.csv  trips_2019_7_26.csv
trips_2019_11_22.csv  trips_2019_3_27.csv  trips_2019_7_27.csv
trips_2019_11_23.csv  trips_2019_3_28.csv  trips_2019_7_28.csv
trips_2019_11_24.csv  trips_2019_3_29.csv  trips_2019_7_29.csv
trips_2019_11_25.csv  trips_2019_3_2.csv   trips_2019_7_2.csv
trips_2019_11_26.csv  trips_2019_3_30.csv  trips_2019_7_30.csv
trips_2019_11_27.csv  trips_2019_3_31.csv  trips_2019_7_31.csv
trips_2019_11_28.csv  trips_2019_3_3.csv   trips_2019_7_3.csv
trips_2019_11_29.csv  trips_2019_3_4.csv   trips_2019_7_4.csv
trips_2019_1_12.csv   trips_2019_3_5.csv   trips_2019_7_5.csv
trips_2019_11_2.csv   trips_2019_3_6.csv   trips_2019_7_6.csv
trips_2019_11_30.csv  trips_2019_3_7.csv   trips_2019_7_7.csv
trips_2019_1_13.csv   trips_2019_3_8.csv   trips_2019_7_8.csv
trips_2019_11_3.csv   trips_2019_3_9.csv   trips_2019_7_9.csv
trips_2019_1_14.csv   trips_2019_4_10.csv  trips_2019_8_10.csv
trips_2019_11_4.csv   trips_2019_4_11.csv  trips_2019_8_11.csv
trips_2019_1_15.csv   trips_2019_4_12.csv  trips_2019_8_12.csv
trips_2019_11_5.csv   trips_2019_4_13.csv  trips_2019_8_13.csv
trips_2019_1_16.csv   trips_2019_4_14.csv  trips_2019_8_14.csv
trips_2019_11_6.csv   trips_2019_4_15.csv  trips_2019_8_15.csv
trips_2019_1_17.csv   trips_2019_4_16.csv  trips_2019_8_16.csv
trips_2019_11_7.csv   trips_2019_4_17.csv  trips_2019_8_17.csv
trips_2019_1_18.csv   trips_2019_4_18.csv  trips_2019_8_18.csv
trips_2019_11_8.csv   trips_2019_4_19.csv  trips_2019_8_19.csv
trips_2019_1_19.csv   trips_2019_4_1.csv   trips_2019_8_1.csv
trips_2019_11_9.csv   trips_2019_4_20.csv  trips_2019_8_20.csv
trips_2019_1_1.csv    trips_2019_4_21.csv  trips_2019_8_21.csv
trips_2019_12_10.csv  trips_2019_4_22.csv  trips_2019_8_22.csv
trips_2019_12_11.csv  trips_2019_4_23.csv  trips_2019_8_23.csv
trips_2019_12_12.csv  trips_2019_4_24.csv  trips_2019_8_24.csv
trips_2019_12_13.csv  trips_2019_4_25.csv  trips_2019_8_25.csv
trips_2019_12_14.csv  trips_2019_4_26.csv  trips_2019_8_26.csv
trips_2019_12_15.csv  trips_2019_4_27.csv  trips_2019_8_27.csv
trips_2019_12_16.csv  trips_2019_4_28.csv  trips_2019_8_28.csv
trips_2019_12_17.csv  trips_2019_4_29.csv  trips_2019_8_29.csv
trips_2019_12_18.csv  trips_2019_4_2.csv   trips_2019_8_2.csv
trips_2019_12_19.csv  trips_2019_4_30.csv  trips_2019_8_30.csv
trips_2019_1_21.csv   trips_2019_4_3.csv   trips_2019_8_31.csv
trips_2019_12_1.csv   trips_2019_4_4.csv   trips_2019_8_3.csv
trips_2019_12_20.csv  trips_2019_4_5.csv   trips_2019_8_4.csv
trips_2019_12_21.csv  trips_2019_4_6.csv   trips_2019_8_5.csv
trips_2019_12_22.csv  trips_2019_4_7.csv   trips_2019_8_6.csv
trips_2019_12_23.csv  trips_2019_4_8.csv   trips_2019_8_7.csv
trips_2019_12_24.csv  trips_2019_4_9.csv   trips_2019_8_8.csv
trips_2019_12_25.csv  trips_2019_5_10.csv  trips_2019_8_9.csv
trips_2019_12_26.csv  trips_2019_5_11.csv  trips_2019_9_10.csv
trips_2019_12_27.csv  trips_2019_5_12.csv  trips_2019_9_11.csv
trips_2019_12_28.csv  trips_2019_5_13.csv  trips_2019_9_12.csv
trips_2019_12_29.csv  trips_2019_5_14.csv  trips_2019_9_13.csv
trips_2019_1_22.csv   trips_2019_5_15.csv  trips_2019_9_14.csv
trips_2019_12_2.csv   trips_2019_5_16.csv  trips_2019_9_15.csv
trips_2019_12_30.csv  trips_2019_5_17.csv  trips_2019_9_16.csv
trips_2019_12_31.csv  trips_2019_5_18.csv  trips_2019_9_17.csv
trips_2019_1_23.csv   trips_2019_5_19.csv  trips_2019_9_18.csv
trips_2019_12_3.csv   trips_2019_5_1.csv   trips_2019_9_19.csv
trips_2019_1_24.csv   trips_2019_5_20.csv  trips_2019_9_1.csv
trips_2019_12_4.csv   trips_2019_5_21.csv  trips_2019_9_20.csv
trips_2019_1_25.csv   trips_2019_5_22.csv  trips_2019_9_21.csv
trips_2019_12_5.csv   trips_2019_5_23.csv  trips_2019_9_22.csv
trips_2019_1_26.csv   trips_2019_5_24.csv  trips_2019_9_23.csv
trips_2019_12_6.csv   trips_2019_5_25.csv  trips_2019_9_24.csv
trips_2019_1_27.csv   trips_2019_5_26.csv  trips_2019_9_25.csv
trips_2019_12_7.csv   trips_2019_5_27.csv  trips_2019_9_26.csv
trips_2019_1_28.csv   trips_2019_5_28.csv  trips_2019_9_27.csv
trips_2019_12_8.csv   trips_2019_5_29.csv  trips_2019_9_28.csv
trips_2019_1_29.csv   trips_2019_5_2.csv   trips_2019_9_29.csv
trips_2019_12_9.csv   trips_2019_5_30.csv  trips_2019_9_2.csv
trips_2019_1_2.csv    trips_2019_5_31.csv  trips_2019_9_30.csv
trips_2019_1_30.csv   trips_2019_5_3.csv   trips_2019_9_3.csv
trips_2019_1_31.csv   trips_2019_5_4.csv   trips_2019_9_4.csv
trips_2019_1_3.csv    trips_2019_5_5.csv   trips_2019_9_5.csv
trips_2019_1_4.csv    trips_2019_5_6.csv   trips_2019_9_6.csv
trips_2019_1_5.csv    trips_2019_5_7.csv   trips_2019_9_7.csv
trips_2019_1_6.csv    trips_2019_5_8.csv   trips_2019_9_8.csv
trips_2019_1_7.csv    trips_2019_5_9.csv   trips_2019_9_9.csv
trips_2019_1_8.csv    trips_2019_6_10.csv
trips_2019_1_9.csv    trips_2019_6_11.csv

In [27]:
road_data_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/route_network/clustered'
trips_data_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/trips_and_stops_NE_2019'
export_data_path = '/content/drive/My Drive/2021 Route Prediction/Project-1/Source-Code/data/3.2_wayid_on_trips'

# Map trip to way sequence with ckd-tree

load trips data

In [28]:
trips_df = pd.read_csv(trips_data_path+'/trips_2019_1_1.csv', parse_dates=['time_stamp'])
trips_df[:5]

           time_stamp                      unit_id  ...  unit_type  trip_id
0 2019-01-01 00:00:07  02800040000000GBBN601005123  ...        3.0        0
1 2019-01-01 00:01:07  02800040000000GBBN601005123  ...        3.0        0
2 2019-01-01 00:02:07  02800040000000GBBN601005123  ...        3.0        0
3 2019-01-01 00:03:07  02800040000000GBBN601005123  ...        3.0        0
4 2019-01-01 00:04:07  02800040000000GBBN601005123  ...        3.0        0

[5 rows x 7 columns]

load way segment

In [29]:
way_segment_drop_dup_df = pd.read_csv(road_data_path + 'way_and_road_segment_lazy_drop.csv')
way_segment_drop_dup_df[:5]

     mid_lat     mid_lon    way_id
0  17.436395  102.802536  23730732
1  16.471186  103.040827  23747253
2  14.520287  104.504161  23747922
3  14.509161  104.529506  23747922
4  14.504591  104.575137  23747922

convert from df to gdf

In [30]:
import itertools
from operator import itemgetter

import geopandas as gpd
import numpy as np
import pandas as pd

from scipy.spatial import cKDTree
from shapely.geometry import Point, LineString

# from pd to gpd
trips_gdf = gpd.GeoDataFrame(
    trips_df, geometry=gpd.points_from_xy(trips_df.lat, trips_df.lon))

# create linestring of way_id
way_segment_drop_dup_gdf = gpd.GeoDataFrame(
  way_segment_drop_dup_df, geometry=gpd.points_from_xy(
      way_segment_drop_dup_df.mid_lat,
      way_segment_drop_dup_df.mid_lon
    )
  )

way_id_list = []
for way_id in pd.unique(way_segment_drop_dup_gdf.way_id):
  line = way_segment_drop_dup_gdf[way_segment_drop_dup_gdf.way_id == way_id]['geometry'].to_list()
  if len(line) < 2:
    line = line*2
  way_id_list.append([way_id, LineString(line)])
way_id_list

way_segment_drop_dup_gdf = gpd.GeoDataFrame(way_id_list, columns=['way_id', 'geometry'])

In [31]:
trips_gdf[:5]

           time_stamp  ...                geometry
0 2019-01-01 00:00:07  ...  POINT (16.482 104.050)
1 2019-01-01 00:01:07  ...  POINT (16.491 104.052)
2 2019-01-01 00:02:07  ...  POINT (16.503 104.055)
3 2019-01-01 00:03:07  ...  POINT (16.514 104.056)
4 2019-01-01 00:04:07  ...  POINT (16.525 104.056)

[5 rows x 8 columns]

In [32]:
way_segment_drop_dup_gdf[:5]

     way_id                                           geometry
0  23730732        LINESTRING (17.436 102.803, 17.436 102.803)
1  23747253        LINESTRING (16.471 103.041, 16.471 103.041)
2  23747922  LINESTRING (14.520 104.504, 14.509 104.530, 14...
3  23749257        LINESTRING (17.172 104.099, 17.187 104.095)
4  23749339        LINESTRING (16.611 103.620, 16.634 103.628)

map nearest way_id

In [33]:
def ckdnearest(gdfA, gdfB, gdfB_cols=['way_id']):
    A = np.concatenate(
        [np.array(geom.coords) for geom in gdfA.geometry.to_list()])
    B = [np.array(geom.coords) for geom in gdfB.geometry.to_list()]
    B_ix = tuple(itertools.chain.from_iterable(
        [itertools.repeat(i, x) for i, x in enumerate(list(map(len, B)))]))
    B = np.concatenate(B)
    ckd_tree = cKDTree(B)
    dist, idx = ckd_tree.query(A, k=1)
    idx = itemgetter(*idx)(B_ix)
    gdf = pd.concat(
        [gdfA, gdfB.loc[idx, gdfB_cols].reset_index(drop=True),
         pd.Series(dist, name='dist')], axis=1)
    return gdf

trips_gdf_nearest_way = ckdnearest(trips_gdf, way_segment_drop_dup_gdf)
trips_gdf_nearest_way

                time_stamp                      unit_id  ...     way_id      dist
0      2019-01-01 00:00:07  02800040000000GBBN601005123  ...  340294191  0.004308
1      2019-01-01 00:01:07  02800040000000GBBN601005123  ...   92193150  0.000498
2      2019-01-01 00:02:07  02800040000000GBBN601005123  ...  402348153  0.004740
3      2019-01-01 00:03:07  02800040000000GBBN601005123  ...   92193150  0.008590
4      2019-01-01 00:04:07  02800040000000GBBN601005123  ...   92193150  0.002386
...                    ...                          ...  ...        ...       ...
195857 2019-01-01 21:51:58  003000300000359769033400604  ...   82374801  0.001614
195858 2019-01-01 21:53:56  003000300000359769033400604  ...   82374801  0.001829
195859 2019-01-01 21:56:00  003000300000359769033400604  ...   82374801  0.007574
195860 2019-01-01 21:57:55  003000300000359769033400604  ...   82374801  0.005860
195861 2019-01-01 21:59:58  003000300000359769033400604  ...  150586957  0.001802

[195862 rows x 10 columns]

In [34]:
# export_df = trips_gdf_nearest_way.drop(columns=['geometry'])
# export_df.to_csv(export_data_path+'/trips_2019_1_1.csv', index=False)